/* Ensure image retains aspect ratio */
.card_image {
  width: 100%; /* Ensures the image takes full width of its container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover !important; /* Ensure image covers the entire space */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .card_image {
    height: 200px; /* Set a fixed height for smaller screens */
  }
}

/* Ensure image doesn't stretch */
.wrapped-image-card {
  display: flex;
}

/* Adjustments for text content alignment */
.text-content {
  flex: 1; /* Ensure text content takes remaining space */
}
