.order_details_container {
    padding: 7px 5px;
    background: white;
    overflow-y: scroll;
    max-height: 284px;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* For Chrome, Safari, and Edge */
.order_details_container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.order_summery {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    padding: 14px;
}

.order_summery_header {
    font-size: 30px;
}
